body{
    height: 6000px;
    font-family: Roboto, Arial;
    margin : 0;
    background-color: rgb(246,246,246);
    padding-left: 70px;
    padding-right: 70px;
}
.section-one {
    
    height: 600px;
    padding-top: 20px;
    margin-bottom: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 40px;
}

.header-logo {
    width: 70px;
    height: 70px;
    object-fit: contain;
    
}

.header-rigth-section {
    display: flex;
    
   
}

.header-link {
    padding-left: 35px;
    font-size: 16px;
}

.info-section-one {
    display: flex ;
    align-items: center;
    
}

.text-section-one {
    
    height: 00px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.title-section-one {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.subtitle-section-one {
    font-size: 24px;
    line-height: 40px;
    width: 300px;
    padding-right: 50px;
}


.picture-section-one {
    width: 450px;
    height: 450px;
    object-fit: cover;
    
}

.button-shop {
    color: white;
    background-color: black;
    padding: 8px 16px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 20px;
}

.picture-section-two {
    width: 760px;
    object-fit: contain;
    margin-bottom: 40px;
   
}

.section-two-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.title-section-two {
    font-size: 20px;
    margin-bottom: 25px;
}

.subtitle-section-two {
    width: 400px;
    text-align: center;
    line-height: 22px;
    margin-bottom: 25px;
}

.button-section-two {
    color: white;
    background-color: black;
    padding: 8px 16px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
   
}


.section-three{
    padding-top: 40px;
}

.text-section-three {
    font-size: 20px;
    margin-bottom: 20px;
}

.section-three-container {
    display: flex;
    justify-content: space-between;
}

.picture-section-three {
    width: 240px;
}

.picture-text-section-three{
    display: flex;
    flex-direction: column;
}

.category-section-three{
    font-size: 16px;
    margin-top: 20px;
}

