body{
    height: 6000px;
    font-family: Roboto, Arial;
    margin : 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
   
}

img {
    width: 100%;
}

.section-one {
    
    padding-bottom: 60px;
    padding-top: 8px;
    padding-left: 50px;
    padding-right: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 40px;
 
}

.header-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    
}

.header-rigth-section {
    display: flex;
    
   
}

.header-link {
    padding-left: 35px;
    font-size: 16px;
}



.info-section-one {
    display: flex ;
    align-items: center;
    
}

.text-section-one {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
   
}

.title-section-one {
    font-size: 24px;
    margin-bottom: 0px;
}


.section-two {
    margin-left: 50px;
    margin-right: 50px;
}

.picture-section-two {
    width: 100%;
    object-fit: contain;
    margin-bottom: 40px;
   
   
}



.section-two-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.title-section-two {
    font-size: 24px;
    margin-bottom: 25px;
}

.subtitle-section-two {
    width: 45%;
    text-align: center;
    line-height: 30px;
    margin-bottom: 25px;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.button-section-two {
    color: white;
    background-color: black;
    padding: 8px 16px;
    border: none;
    font-size: 18px;
  
    border-radius: 20px;
   
}


.section-three{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    padding-left: 50px;
    padding-right: 50px;

}

.text-section-three {
    padding-top: 40px;
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}



.picture-section-three {
    
   width: 100%;
}


.category-section-three{
    font-size: 18px;
    margin-top: 20px;
}

.title-section-four {
    font-size: 24px;
    margin-top: 120px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.picture-section-four-container{
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
}

.text-link-section-four {
    position: absolute;
    bottom: 120px;
    left: 100px;
    color: white;
    font-size: 20px;
}

.button-shop-all {
    position: absolute;
    bottom: 50px;
    left: 100px;

    background-color: white;
    padding: 10px 22px;
    border: none;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 20px;
}

.picture-section-five {
    padding-top: 40px;
    padding-bottom: 40px;
    filter: blur(0.8px);
     
    
}

.section-six {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    margin-top: 70px;
    padding-left: 70px;
    padding-right: 40px;
    margin-bottom: 50px;
}

.section-six-category {
    margin-bottom: 30px;
    font-size: 16px;
}

.section-six-type {
    color: rgb(109, 108, 108);
    margin-bottom: 20px;
    font-size: 16px;
}

.section-seven {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family:  Arial;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 50px;
   

}

.section-seven-column{
    margin-right: 80px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 80px;
    line-height: 30px;
   
}

.section-seven-column-list{
    color: rgb(109, 108, 108);
    margin-bottom: 70px;
}


.section-seven-column-one {
    font-size: 12px;
    font-weight: bold;
    margin-right: 80px;
    line-height: 35px;
}

.section-seven-left-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



.section-seven-menu{
    color: rgb(109, 108, 108);
}

.icon-section-seven {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    opacity: 0.6;
    margin-left: 10px;
}



.section-eigth-container{
    background-color: black;
    color: rgb(109, 108, 108);
    display: flex;
    justify-content: end;
    padding-right: 50px;
    font-size: 12px;
}